.team {
  background-color: var(--button-secondary-made);
}
.team__list {
  display: flex;
}
.team__box {
  padding-left: 32px;
  padding-right: 30px;
  padding-top: var(--margin-content);
  padding-bottom: var(--margin-content);
  border-radius: 0px 0px 4px 4px;
  background: var(--secondary-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__member {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team__position {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.social-list {
  @include centeredFlex ($content:space-between);
  margin-top: 16px;
}
.team__item:not(:last-child) {
  margin-right: var(--margin-content);
}
.social-list__link {
  @include centeredFlex;
  width: 44px;
  height: 44px;  
  border-radius: 50%;
  background-color: var(--secondary-color-white);
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--secondary-color-white);
  }
}
.social-list__icon {
  width: 20px;
  height: 20px;
}
