.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 0px;
  }  
}

.features__title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  }
.features__text {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  }
.features__thumb {
  @include centeredFlex;   
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}   
@media screen and (max-width: 767px) {
  .features__thumb {
    max-width: 450px;
    height: 120px;
  }
  .features__item:not(:last-child) {
    margin-bottom: var(--margin-content);
  } 
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;    
    margin-left: -30px;
    margin-top: -30px;
  } 
    .features__item {
    width: calc(100% / 2 - 30px);    
    margin-left: 30px;
    margin-top: 30px;      
  }
}
@media screen and (min-width:1200px) {  
  .features__list {
    display: flex;
  }
    .features__thumb {
    width: 270px;
    height: 120px;
  }  
    .features__item:not(:last-child) {
    margin-right: var(--margin-content);
  } 
}