.form {
  padding: 40px;
}
.form__text {
  margin: 0 0 12px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.form__label {
  display: block;
  margin: 0 0 10px 0;
}
.form__input-icon {
  position: relative;
  display: block;
}
.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  padding-left: 42px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid #2196f3;
    border-radius: 4px;
    outline: none;
  }
}
.form__text-name {
  display: block;
  margin: 0 0 4px 0;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin: 0 0 20px 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid #2196f3;
    border-radius: 4px;
    outline: none;
  }
  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}
.form__icon {
  position: absolute;
  top: 0;
  left: 12px;
  transform: translateY(50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form__input:hover + &,
  .form__input:focus + & {
    fill: #2196f3;
  }
  &:hover,
  &:focus {
    fill: #2196f3;
  }
}

.privacy {
  display: block;
  margin: 0 0 30px 0;

  &::before {
    margin-right: 7px;
    display: inline-block;
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    cursor: pointer;
    margin-left: 12px;
    border-radius: 2px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    .input-privacy:checked + & {
      background-image: url(../images/iconcheck.svg);
      background-size: cover;
      border: 0px;
      background-color: var(--accent-color);
    }
    .input-privacy:focus + &,
    .input-privacy:hover + & {
      border-color: var(--accent-color);
    }
  }
}
.privacy__contract {
  color: #2196f3;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    outline: none;
    color: var(--button-first-accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
.form__button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  border: transparent;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--button-first-accent);
    border-radius: 4px;
    outline: auto;
    border-color: var(--button-first-accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

