:root {
  --font-secondary: 'Raleway', sans-serif;
  --font-primary: 'Roboto', sans-serif;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --bgc-hero-footer: #2f303a;
  --button-secondary-made: #f5f4fa;
  --secondary-color-white: #ffffff;
  --logo-color: #000000;
  --button-first-accent: #188ce8;
  --margin-content: 30px;
}
